.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: inherit;
}

@media all and (max-width: 767px) {
  .place__link {
    margin-bottom: 32px;
  }
}
